body {
    background-color:  GhostWhite; 
    color: Indigo; 
    font-family: Arial; 
    margin: 0px;
}

header {
    background-color: indigo; 
    color: rgb(144, 170, 144); 
    padding: 5px; 
    font-size: 12pt;
}

footer {
    background-color: indigo; 
    color: rgb(144, 170, 144);
    padding: 5px; 
    font-size: 12pt; 
    text-align: right;
}

main {
    background-color:  GhostWhite; 
    color: Indigo; 
    font-family: Arial; 
    margin: 0px;
}

main:link {
    color: grey; 
    
}

main:visited {
    color: rgba(0, 0, 255, 0.534); 
}

main:hover {
    color: red; 
    text-decoration: underline;
}

main:active {
    color: black; 
    opacity: 0.3;
}