body {
    background-color:  GhostWhite; 
    color: Indigo; 
    font-family: Arial; 
    margin: 0px;
}

header {
    background-color: indigo; 
    color: rgb(144, 170, 144); 
    padding: 5px; 
    font-size: 12pt;
}

footer {
    background-color: indigo; 
    color: rgb(144, 170, 144);
    padding: 5px; 
    font-size: 12pt; 
    text-align: right;
}

main {
    background-color:  GhostWhite; 
    color: Indigo; 
    font-family: Arial; 
    margin: 0px;
    transition: 5s;
}

a {transition: 4s 1s;
}

a:link {
    color: grey; 
    
}

a:visited {
    color: Indigo; 
}

a:hover {
    color: red; 
    text-decoration: underline;
    transition: 0.5s;
}

a:active {
    color: black; 
    opacity: 0.3;
}


div.menu {
    border: 3px solid #0088004d;
    border-radius: 5px;
    width: 250px;
    color: black; 
    padding: 0px 20px 0px 20px;
    margin: 10px;
    
}

div.menu:hover {
    background-color: rgba(0, 255, 106, 0.11);
    box-shadow: 0 0 15px rgb(128, 0, 0);
}

h1 {
    text-align: center;

}
