.main {
    background-image: url("../images/MS-Bank-_banner-_1920_.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    margin-bottom: 30px;
}

.main-title {
    font-size: 2.39583vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 1.04167vw;
    max-width: 800px;
    margin-top: 125px;
}

.main-description {
    text-transform: uppercase;
    color: #fff;
    line-height: 1.65;
    margin-bottom: 1.875vw;
}

.button:hover {
    background-color: #d70125;
}

.button {
    padding: 13px 38px;
    border-radius: 0.52083vw;
    text-align: center;
    border: 1px solid transparent;
    line-height: 1.4;
    background-color: #ea0028;
    cursor: pointer;
    width: 92px;
}

.button a {
    color: #fff;
    text-decoration: none;
}

.about .container {
    background-image: url("../images/about-bank-bg.webp");
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 1px;
}

.about-title {
    font-weight: 700;
    margin-bottom: 1.04167vw;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 38.54167vw;
    font-size: 2.08333vw;
    margin-top: 30px;
    margin-left: 50px;
}

.about-description {
    line-height: 1.55;
    max-width: 27.34375vw;
    color: #000;
    margin-left: 50px;
}

.about-description-span {
    margin-top: 30px;
    margin-bottom: 50px;
}

.history {
    margin-top: 100px;
    padding-bottom: 100px;
}

.history-title {
    font-size: 1.66667vw;
    line-height: 1.25;
    color: #333;
    font-weight: 500;
    margin-bottom: 1.5625vw;
    margin-top: 40px;
}

.history-text {
    line-height: 1.7;
    font-size: .83333vw;
    font-weight: 400;
    color: #373f41;
    max-width: 785px;
}